<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      The
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <small>
    You may choose to display weather either from your current location, or a preset location of your choosing
  </small>
  <ion-item>
    <ion-searchbar type="text" debounce="500" (ionInput)="getCharacters($event)"></ion-searchbar>
  </ion-item>
  <ion-list *ngIf="isCharactersAvailable">
    <ion-item *ngFor="let item of marvelCharacters" tappable (click)="selectCharacter(item)">
      {{ item.name }}
    </ion-item>
  </ion-list>
</ion-content>
