<ion-header>
    <ion-toolbar color="primary">
        <ion-title >Searchbar</ion-title>
      </ion-toolbar>
  <ion-toolbar color="primary">
      <ion-searchbar type="text" debounce="1000" [(ngModel)]="searchTerm" (ionInput)="getCharacters($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
    <ion-list *ngIf="isCharactersAvailable">
        <ion-item *ngFor="let item of marvelCharacters" tappable (click)="selectCharacter(item)">
          {{ item.name }}
        </ion-item>
      </ion-list>
 

   <!--<div class="character-display" *ngIf="character.name">
    
    <h1>{{ character.name }}</h1>
    <p>{{ character.description }}</p> -->
    <ion-card class="single-char-home" *ngIf="character.name">
        <ion-item>
            <ion-avatar item-start>
              <img [src]='character.image'>
            </ion-avatar>
            <h2>{{ character.name }}</h2>
          </ion-item>
          
        <ion-img [src]='character.image'></ion-img>
        <ion-card-content>
            <p>{{ character.description }}</p>
          </ion-card-content>
        
            <ion-row>
                <ion-col>
                  <button ion-button icon-start clear small>
                    <ion-icon name="heart"></ion-icon>
                    <div>{{ character.comics.available }} Comics</div>
                  </button>
                </ion-col>
                <ion-col>
                    <button ion-button icon-start clear small>
                      <ion-icon name="heart"></ion-icon>
                      <div>{{ character.stories.available }} Storis</div>
                    </button>
                  </ion-col>
                <ion-col>
                  <button ion-button icon-start clear small>
                    <ion-icon name="text"></ion-icon>
                    <div>{{ character.series.available }} Series</div>
                  </button>
                </ion-col>
              </ion-row>
        
    </ion-card>
  <!-- </div> -->

</ion-content>
